<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kim.mini">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini"
        android:usesCleartextTraffic="true">
        <activity android:name=".shisenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OpmatchingCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MatchingCardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OponetofiftyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WaitingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".onetofiftyActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".ConnectionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".RoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LobbyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>